body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0d0d0e;
}

canvas {
    border: 2px solid black;
    /* cursor: none; */
}

.map-buttons {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.map-buttons button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.yellow-button {
    background-color: rgb(233, 233, 9);
    color: black;
}

.green-button {
    background-color: rgb(4, 203, 64);
    color: black;
}
.map-buttons h3 {
    color: white;
}